@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;500;700&family=Open+Sans:wght@300;400;500;900&display=swap');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
  background-color: #111;
}

body {
  font-family: 'Open Sans', 'Noto Sans TC', sans-serif;
}

* {
  box-sizing: border-box;
  transition: .3s;
}

option {
  color: #ccc !important;
}

.building {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.material-icons {
  font-size: inherit;
  vertical-align: middle;
  display: inline-block;
  line-height: 1;
}